In [16]:
import pandas as pd
import matplotlib as mtp
import matplotlib.pyplot as plt

unrate = pd.read_csv("/home/simplon/Documents/jeux_de_données/unrate.csv")
unrate

           DATE  UNRATE
0    1948-01-01     3.4
1    1948-02-01     3.8
2    1948-03-01     4.0
3    1948-04-01     3.9
4    1948-05-01     3.5
..          ...     ...
836  2017-09-01     4.2
837  2017-10-01     4.1
838  2017-11-01     4.1
839  2017-12-01     4.1
840  2018-01-01     4.1

[841 rows x 2 columns]

### Introduction

In [25]:
date = unrate["DATE"]
date = pd.to_datetime(date)
date.head(12)

0    1948-01-01
1    1948-02-01
2    1948-03-01
3    1948-04-01
4    1948-05-01
5    1948-06-01
6    1948-07-01
7    1948-08-01
8    1948-09-01
9    1948-10-01
10   1948-11-01
11   1948-12-01
Name: DATE, dtype: datetime64[ns]

### Premier graphique